@font-face {
  font-family: 'ZohoPuvi';
  src: url('https://my-design-system-mcdamjnb.onslate.in/fonts/ZohoPuvi-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'ZohoPuvi';
  src: url('https://my-design-system-mcdamjnb.onslate.in/fonts/ZohoPuvi-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'ZohoPuvi';
  src: url('https://my-design-system-mcdamjnb.onslate.in/fonts/ZohoPuvi-Semibold.ttf') format('truetype');
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ZohoPuvi', sans-serif;
  color: #212129;
}

body {
  background: white;
}